<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
		<title>Speedy Pixel Burger Bar!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<img src="../../public/assets/img/speedy_burger.png" alt="Error Loading Image!">
		{{{ body }}}
	</body>
</html>
