body {
  background-color: orange;
}

li {
  text-align: left;
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

img {
  margin: 40px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
